.register-container {
    background-image: url('https://r4.wallpaperflare.com/wallpaper/779/691/639/technology-movies-projector-8mm-film-reel-wallpaper-c25112500d663e7b2ac8e2a50038e932.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  