/* login.css */

.signup-container {
    background-image: url('https://r4.wallpaperflare.com/wallpaper/516/986/479/retro-blur-hi-tech-movie-wallpaper-f0223439991252494e5df6db24f6c183.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Add any other CSS styles for your Login component here */
  